@model BasicTrivia.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trivia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trivia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Choice1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Choice1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Choice2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Choice2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Choice3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Choice3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Choice4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Choice4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Choice5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Choice5)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
