@model IEnumerable<BasicTrivia.Models.Question>

@{
    ViewBag.Title = "Question List";
}

<h2>Question List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trivia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Choice1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Choice2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Choice3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Choice4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Choice5)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trivia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Choice5)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
